body {
   background-image: url(../images/poe_background.jpg);
   
}

.headerDiv {
   display: block;
   width: 60%;
   float: right;
   margin-right: 8%;
}

.headerDiv img {
   width: 60%;
}

.headList {
   list-style: none;
   width: 24%;
   height: 30px;
   border: 2px solid black;
   border-radius: 15px;
}

.headList:hover {
   background-color: rgba(119, 136, 153, 0.2);
}

nav {
   clear: right;
}

nav ul {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   max-width: 80%;
   margin: 0 auto 5vh;
   text-align: center;
   font-size: 28px;
}

ul a {
   color: black;
   text-decoration: none;
}

h1 {
   text-align: center;
}

.hoursList {
   
   list-style: none;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.hoursField, .addressField {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 15%;
   border: 1px solid black;
   border-radius: 20px;
   margin: 0 auto 20px;
}

.addressField p {
   height: 12px;
   margin: 10px;
}

.hoursField ul {
   padding: 0;
}

.messageField, .contactField {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 15%;
   border: 1px solid black;
   border-radius: 20px;
   margin: 0 auto;
}

.messageHolder h4, p {
   text-align: center;
}

.italic {
   font-style: italic;
}

.contactForm {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.messInp {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 2px 0;
}

.contactLabel {
   width: 35%;
   text-align: center;
}

.contactForm input, textarea {
   background-color:  rgba(245, 245, 220, 0.4);
}

.mailSpan {
   color: blue;
   font-style: italic;
}

.articleHolder {
   width: 60vw;
   margin: 0 auto;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.articleWindow {
   width: 24vw;
   max-width: 245px;
   height: 25vh;
   margin: 10px;
   transition: transform 1s ease-in-out;

}

.articleImage {
   width: 24vw;
   max-width: 245px;
   height: 25vh;
   border: 2px solid white;
   border-radius: 20px;
   box-shadow: lightslategray 5px 5px;
   
}

.spinIt {
   transform: rotateY(180deg);
   background-image: none;
   background-color: slategray;
}

.imgField {
   width: 30vw;
   margin: 0 auto;
   border: 2px solid black;
   border-radius: 10px;
   background-color: slategrey;
}

.imgForm, .textForm, .titleForm {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin: 20px auto;
}

.imgInput, .textInput, .titleInput {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 3px;
}

.imgChgLabel, .textChgLabel, .titleChgLabel {
   width: 110px;
   text-align: right;
}

.imgChgInput, .textChgInput, .titleChgInput {
   width: 50%;
}

.lightbox {                                
   display: none;
   position: fixed;
   z-index: 999;
   top: 10%;
   left: 20%;
   right: 0;
   bottom: 0;
   padding: 1em;
   background: rgba(0, 0, 0, 0.8);
   border: 2px solid white;
   border-radius: 20px;
   width: 60%;
   height: 80%;
}

.lightbox:target {           
   display: block;
}

.lightbox span {                       
   display: block;
   width: 60%;
   height: 80%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   
}
.lightbox::before {
   content:"X"; /* font awesome icons, etc. */
   cursor: pointer;
   font-size: 32px;
   right:21%;
   top:12%;
   font-weight: 600;
   position: fixed;
   display: block;
   text-align:right;
   color:red;
 }
.backText {
   padding: 3% 20%;
   margin-top: 2vh;
   font-size: 28px;
   color: white;
   
}

.textHeader {
   margin: 6vh auto 0;
   width: 50%;
   text-align: center;
   color: aliceblue;
   text-decoration: underline;
   font-style: italic;
   font-size: 36px;

}

#screenwidth {
   text-align: center;
   font-size: 16px;
   color: white;
}


@media screen and (max-width: 800px) {

   #screenwidth {
      text-align: center;
      font-size: 16px;
      color: white;
   }
   nav ul {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      font-size: 28px;
      justify-content: center;
      margin: 0 auto 4vw;
      width: 100%;
   }

   .headList {
      margin: 5px 7% 0 0;
      width: 60%;

   }

   .hoursField, .addressField {
      width: 40%;

   }

   .contactForm {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   .messInp {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
 
   }
   
   .contactLabel {
      margin-bottom: 2px;
      width: 50%;
      text-align: center;
   
   }
   .contactForm input, textarea {
      background-color:  rgba(245, 245, 220, 0.4);
   }

   .addressField p{
      margin: 12px 0;
   }
   
   .articleHolder {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding-left: 10px;
   }

   .articleWindow {
      width: 55%;
      height: 25vh;
      border: 2px solid white;
      border-radius: 20px;
      margin-bottom: 10px;
   }

   .articleImage {
      width: 100%;
      height: 25vh;
      border: 2px solid white;
      border-radius: 20px;
      box-shadow: lightslategray 5px 5px;
      
   }

   .lightbox {                                
      display: none;
      position: fixed;
      z-index: 999;
      top: 1%;
      left: 20%;
      right: 0;
      bottom: 0;
      padding: 1em;
      background: rgba(0, 0, 0, 0.8);
      border: 2px solid white;
      border-radius: 20px;
      width: 60%;
      height: 95%;
   }
   
   .lightbox:target {           
      display: block;
   }
   
   .lightbox span {                       
      display: block;
      width: 60%;
      height: 90%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      
   }

   .lightbox::before {
      content:"X"; /* font awesome icons, etc. */
      cursor: pointer;
      font-size: 18px;
      right:21%;
      top:3%;
      font-weight: 600;
      position: fixed;
      display: block;
      text-align:right;
      color:red;
    }

   .backText {
      padding: 0 5%;
      margin-top: 1vh;
      font-size: 19px;
      color: white;
   }

   .textHeader {
      margin: 4vh auto 0;
      width: 37%;
      color: aliceblue;
      text-decoration: underline;
      font-style: italic;

   }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {

   nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      max-width: 100%;
      margin: 0 auto 5vh;
      text-align: center;
      font-size: 24px;
   }

   
   ul a {
      color: black;
      text-decoration: none;
   }

   .backText {
      padding: 0 5%;
      margin-top: 1vh;
      font-size: 24px;
      color: white;
   }

   .textHeader {
      margin: 4vh auto 0;
      width: 37%;
      color: aliceblue;
      text-decoration: underline;
      font-style: italic;

   }
}

   @media screen and (min-width: 1200px) and (max-width: 1800px) {

      nav ul {
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-around;
         max-width: 100%;
         margin: 0 auto 5vh;
         text-align: center;
         font-size: 24px;
      }
   
      
      ul a {
         color: black;
         text-decoration: none;
      }
   
      .backText {
         padding: 0 5%;
         margin-top: 1vh;
         font-size: 28px;
         color: white;
      }
   
      .textHeader {
         margin: 4vh auto 0;
         width: 37%;
         color: aliceblue;
         text-decoration: underline;
         font-style: italic;
   
      }
}