body {
   background-image: url(../images/poe_background.jpg);
}

.headerDiv {
   display: block;
   width: 60%;
   float: right;
   margin-right: 8%;
}

.headerDiv img {
   width: 60%;
}

.headList {
   list-style: none;
   width: 24%;
   height: 30px;
   border: 2px solid black;
   border-radius: 15px;
}

.headList:hover {
   background-color: rgba(119, 136, 153, 0.2);
}

nav {
   clear: right;
}

nav ul {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   text-align: center;
   font-size: 28px;
}

ul a {
   color: black;
   text-decoration: none;
}

h1 {
   text-align: center;
}

.hoursList {
   
   list-style: none;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.hoursField, .addressField {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 15%;
   border: 1px solid black;
   border-radius: 20px;
   margin: 0 auto 20px;
}

.addressField p {
   height: 12px;
   margin: 10px;
}

.hoursField ul {
   padding: 0;
}

.messageField, .contactField {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 15%;
   border: 1px solid black;
   border-radius: 20px;
   margin: 0 auto;
}

.messageHolder h4, p {
   text-align: center;
}

.italic {
   font-style: italic;
}

.contactForm {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.messInp {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 2px 0;
}

.contactLabel {
   width: 35%;
   text-align: center;
}

.contactForm input, textarea {
   background-color:  rgba(245, 245, 220, 0.4);
}

.mailSpan {
   color: blue;
   font-style: italic;
}

.articleHolder {
   width: 60vw;
   margin: 0 auto;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.articleWindow {
   width: 24vw;
   max-width: 245px;
   height: 25vh;
   border: 2px solid white;
   border-radius: 20px;
   box-shadow: lightslategray 5px 5px;
   margin: 10px;
   transition: transform 1s ease-in-out;

}

.artWindow1{
   background-image: url(../images/waltbenjamin_nopad.jpg);
}
.artWindow2{
   background-image: url(../images/vivmaier_nopad.jpg);
}
.artWindow3{
   background-image: url(../images/sanlucbert_nopad.jpg);
}
.artWindow4{
   background-image: url(../images/jadelindgaard_nopad.jpg);
}
.artWindow5{
   background-image: url(../images/ireregnauld_nopad.jpg);
}
.artWindow6{
   background-image: url(../images/fenetrexmas_nopad.jpg);
}
.artWindow7{
   background-image: url(../images/emihache_nopad.jpg);
}
.artWindow8{
   background-image: url(../images/dambrohon_nopad.jpg);
}

/*
.artWindow1_text{
   background-color: slategray;  /* REPLACE WITH TEXT */ /*
}
.artWindow2_text{
   background-color: slategray;
}
.artWindow3_text{
   background-color: slategray;
}
.artWindow4_text{
   background-color: slategray;
}
.artWindow5_text{
   background-color: slategray;
}
.artWindow6_text{
   background-color: slategray;
}
.artWindow7_text{
   background-color: slategray;
}
.artWindow8_text{
   background-color: slategray;
}
*/
.spinIt {
   transform: rotateY(180deg);
   background-image: none;
   background-color: slategray;
}

@media screen and (max-width: 600px) {


   nav ul {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      font-size: 28px;
      justify-content: center;
   }

   .headList {
      margin: 5px 7% 0 0;
      width: 60%;

   }

   .hoursField, .addressField {
      width: 40%;

   }

   .contactForm {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   .messInp {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
 
   }
   
   .contactLabel {
      margin-bottom: 2px;
      width: 50%;
      text-align: center;
   
   }
   .contactForm input, textarea {
      background-color:  rgba(245, 245, 220, 0.4);
   }

   .addressField p{
      margin: 12px 0;
   }
   
   .articleHolder {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding-left: 10px;
   }

   .articleWindow {
      width: 65%;
      height: 25vh;
      border: 2px solid white;
      border-radius: 20px;
      box-shadow: lightslategray 5px 5px;
      margin-bottom: 10px;
   }


}