<!--
<div class="articleWindow artWindow2" id="articleWindow2"><a href="#img2"><img src="<?=$placeMe['image_src']?>" alt="artImage" class="articleImage"></a></div>
                <div class="textHolder"><a href="#" class="lightbox" id="img2">
                   <p class="backText"><?=$placeMe['text_two']?></p></a></div>
            <div class="articleWindow artWindow3" id="articleWindow3"><a href="#img3"><img src="<?=$placeMe['image_src']?>" alt="artImage" class="articleImage"></a></div>
                <div class="textHolder"><a href="#" class="lightbox" id="img3">
                   <p class="backText"><?=$placeMe['text_three']?></p></a></div>
            <div class="articleWindow artWindow4" id="articleWindow4"><a href="#img4"><img src="<?=$placeMe['image_src']?>" alt="artImage" class="articleImage"></a></div>
                <div class="textHolder"><a href="#" class="lightbox" id="img4">
                   <p class="backText"><?=$placeMe['text_four']?></p></a></div>
            <div class="articleWindow artWindow5" id="articleWindow5"><a href="#img5"><img src="<?=$placeMe['image_src']?>" alt="artImage" class="articleImage"></a></div>
                <div class="textHolder"><a href="#" class="lightbox" id="img5">
                   <p class="backText"><?=$placeMe['text_five']?></p></a></div>
            <div class="articleWindow artWindow6" id="articleWindow6"><a href="#img6"><img src="<?=$placeMe['image_src']?>" alt="artImage" class="articleImage"></a></div>
                <div class="textHolder"><a href="#" class="lightbox" id="img6">
                   <p class="backText"><?=$placeMe['text_six']?></p></a></div>
            <div class="articleWindow artWindow7" id="articleWindow7"><a href="#img7"><img src="<?=$placeMe['image_src']?>" alt="artImage" class="articleImage"></a></div>
                <div class="textHolder"><a href="#" class="lightbox" id="img7">
                   <p class="backText"><?=$placeMe['text_seven']?></p></a></div>
            <div class="articleWindow artWindow8" id="articleWindow8"><a href="#img8"><img src="<?=$placeMe['image_src']?>" alt="artImage" class="articleImage"></a></div>
                <div class="textHolder"><a href="#" class="lightbox" id="img8">
                   <p class="backText"><?=$placeMe['text_eight']?></p></a></div>



                                       <div class="imgInput"><label for="" class="imgChgLabel">Image 1</label><input type="text" name="imgInp1" class="imgChgInput" placeholder="<?=$DbLoc['image_one']?>"></div>
                    <div class="imgInput"><label for="" class="imgChgLabel">Image 2</label><input type="text" name="imgInp2" class="imgChgInput" placeholder="<?=$DbLoc['image_two']?>"></div>
                    <div class="imgInput"><label for="" class="imgChgLabel">Image 3</label><input type="text" name="imgInp3" class="imgChgInput" placeholder="<?=$DbLoc['image_three']?>"></div>
                    <div class="imgInput"><label for="" class="imgChgLabel">Image 4</label><input type="text" name="imgInp4" class="imgChgInput" placeholder="<?=$DbLoc['image_four']?>"></div>
                    <div class="imgInput"><label for="" class="imgChgLabel">Image 5</label><input type="text" name="imgInp5" class="imgChgInput" placeholder="<?=$DbLoc['image_five']?>"></div>
                    <div class="imgInput"><label for="" class="imgChgLabel">Image 6</label><input type="text" name="imgInp6" class="imgChgInput" placeholder="<?=$DbLoc['image_six']?>"></div>
                    <div class="imgInput"><label for="" class="imgChgLabel">Image 7</label><input type="text" name="imgInp7" class="imgChgInput" placeholder="<?=$DbLoc['image_seven']?>"></div>
                    <div class="imgInput"><label for="" class="imgChgLabel">Image 8</label><input type="text" name="imgInp8" class="imgChgInput" placeholder="<?=$DbLoc['image_eight']?>"></div>
                    <button type="submit" id="imgSubmit">Changer Images</button>
                </form>

                <form action="" class="titleForm" method="POST">
                    <div class="titleInput"><label for="" class="titleChgLabel">Text for Image 1</label><input type="text" name="titleInp1" class="titleChgInput" placeholder="<?=$DbLoc['text_one']?>"></div>
                    <div class="titleInput"><label for="" class="titleChgLabel">Text for Image 2</label><input type="text" name="titleInp2" class="titleChgInput" placeholder="<?=$DbLoc['text_two']?>"></div>
                    <div class="titleInput"><label for="" class="titleChgLabel">Text for Image 3</label><input type="text" name="titleInp3" class="titleChgInput" placeholder="<?=$DbLoc['text_three']?>"></div>
                    <div class="titleInput"><label for="" class="titleChgLabel">Text for Image 4</label><input type="text" name="titleInp4" class="titleChgInput" placeholder="<?=$DbLoc['text_four']?>"></div>
                    <div class="titleInput"><label for="" class="titleChgLabel">Text for Image 5</label><input type="text" name="titleInp5" class="titleChgInput" placeholder="<?=$DbLoc['text_five']?>"></div>
                    <div class="titleInput"><label for="" class="titleChgLabel">Text for Image 6</label><input type="text" name="titleInp6" class="titleChgInput" placeholder="<?=$DbLoc['text_six']?>"></div>
                    <div class="titleInput"><label for="" class="titleChgLabel">Text for Image 7</label><input type="text" name="titleInp7" class="titleChgInput" placeholder="<?=$DbLoc['text_seven']?>"></div>
                    <div class="titleInput"><label for="" class="titleChgLabel">Text for Image 8</label><input type="text" name="titleInp8" class="titleChgInput" placeholder="<?=$DbLoc['text_eight']?>"></div>
                    <button type="submit" id="textSubmit">Changer Textes</button>
                </form>
    
                <form action="" class="textForm" method="POST">
                    <div class="textInput"><label for="" class="textChgLabel">Text for Image 1</label><input type="text" name="textInp1" class="textChgInput" placeholder="<?=$DbLoc['text_one']?>"></div>
                    <div class="textInput"><label for="" class="textChgLabel">Text for Image 2</label><input type="text" name="textInp2" class="textChgInput" placeholder="<?=$DbLoc['text_two']?>"></div>
                    <div class="textInput"><label for="" class="textChgLabel">Text for Image 3</label><input type="text" name="textInp3" class="textChgInput" placeholder="<?=$DbLoc['text_three']?>"></div>
                    <div class="textInput"><label for="" class="textChgLabel">Text for Image 4</label><input type="text" name="textInp4" class="textChgInput" placeholder="<?=$DbLoc['text_four']?>"></div>
                    <div class="textInput"><label for="" class="textChgLabel">Text for Image 5</label><input type="text" name="textInp5" class="textChgInput" placeholder="<?=$DbLoc['text_five']?>"></div>
                    <div class="textInput"><label for="" class="textChgLabel">Text for Image 6</label><input type="text" name="textInp6" class="textChgInput" placeholder="<?=$DbLoc['text_six']?>"></div>
                    <div class="textInput"><label for="" class="textChgLabel">Text for Image 7</label><input type="text" name="textInp7" class="textChgInput" placeholder="<?=$DbLoc['text_seven']?>"></div>
                    <div class="textInput"><label for="" class="textChgLabel">Text for Image 8</label><input type="text" name="textInp8" class="textChgInput" placeholder="<?=$DbLoc['text_eight']?>"></div>
                    <button type="submit" id="textSubmit">Changer Textes</button>
                </form>
            </fieldset>
    <script src="../public/scripts/script.js"></script>
    </body>
-->